<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Nextere Suite" verbose="2">

    <listeners>
        <listener class-name="reports.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            
            <class name="tests.LoginNegativeTest"/>
            <class name="tests.LoginPositiveTest"/>
        </classes>
    </test>

</suite>